# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

.kotlin

node_modules/

logs/

**/.env.keys
**/.env.local
**/.env.staging
**/.env.production

